/* You can add global styles to this file, and also import other style files */
html body {
    min-width: 100%;
    min-height: 100%;
    margin-left: 100px;
    margin-top: 50px;
    background-color: beige;
}

input {
    border-radius: 1em;
}