<h1>An Angular app for the matchstick challenge</h1>
<hr />
<p>{{prompt}}</p>
<!-- ngModel requires FormsModule which you -->
<!-- will import in app.module.ts -->
<input type="number" 
            [(ngModel)]="this.numHouses"
            placeholder="Enter a number"/>
<!-- %ngIf works like v-if in Vue -->
<!-- num1 & num2 are checked to be greater than zero -->
<!-- as conditions for viewing answer -->
<p *ngIf="this.numHouses > 0">{{ this.numHouses }} matchstick houses requires  {{ matchhouses(this.numHouses) }} matchsticks.</p>
