html, body {
  font-size: 20px;
  background-color: ivory;
  position: fixed;
  min-height: 100%;
}

main, .foot {
  margin-left: 175px;
}

.foot {
  margin-top: 200px;
}

nav, .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  border: 1px solid #0a0a0a;
  background-color: #f9f9f9;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

.menu li, .menu a {
  display: block;
  color: #000;
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid #555;
}

.menu li:last-child {
  border-bottom: none;
}

/* Change the link color on hover */
.menu li a:hover {
  background-color: #137051;
  color: white;
}

.active {
  background-color: #04AA6D;
  color: white;
}

input, button {
  border-radius: 1em;
}