html {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  margin-bottom: 15px;
  background-color: beige;
}

body {
  margin-left: 100px;
}

input {
  border-radius: 1em;
  max-width: 50px;
  min-width: 25px;
  text-align: center;
  margin: 5px;
}

label, button {
  margin: 5px;
  border-radius: 1em;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}